.nav{
    border: 1px solid #ccc
}
.nav>.list-group-item{
     text-align: center; margin: 0; padding: 0; border: none; border-bottom: 1px solid #ccc; line-height: 28px; border-radius: 0 !important;
 }
.nav>.list-group-item>a{
    border-radius: 0;
}
.nav>.list-group-item:last-child{
    border: none;
}