
li{
    list-style-type: none;
}
.main{
    width: 100%;
}
.container{
    padding: 0;
}
.maintop .nav{
    border: 1px solid #ccc
}
.nav>.list-group-item{
     text-align: center; margin: 0; padding: 0; border: none; border-bottom: 1px solid #ccc; line-height: 28px; border-radius: 0 !important;
 }
.nav>.list-group-item>a{
    border-radius: 0;
}
.nav>.list-group-item:last-child{
    border: none;
}
.info-list{
    margin-top: 20px;
}

.info-list h4{
    border-bottom: 1px solid #1b6d85; padding: 10px 0;
}
.info-list li{
    list-style-type: none; line-height: 30px;
}

/*play*/
.play{
    position: relative; width: 100%; height: 390px; overflow: hidden;
}
.play ol{
    position: absolute; bottom: 5px; z-index: 99999; left: 50%; margin-left:-50px;
}
.play ol li{
    float: left; background: #fff; margin-left: 10px; border-radius: 50%;
    width: 15px; height: 15px; text-align: center; line-height: 15px;

}
.play ul{
    position: absolute; top: 0; left: 0; width: 100%;
    height: 100%; z-index: 1; margin: 0; padding: 0;
}
.play ul li{
    width: 100%; height: 100%;
}
.play .active{
    background: #122b40; color: #fff;
}